/* @@@@@@@@@@@@@@@@@@@@ STUDIO @@@@@@@@@@@@@@@@@@@@ */

:root {
  --primary-brand-color: #4d5ae5;
  --active-filter-background-color: #404bbf;
  --main-color: #2e2f42;
  --hero-and-footer-background-color: #2e2f42;
  --secondary-color: #434455;
  --hero-text-color: #ffffff;
  --our-team-background-color: #f4f4fd;
  --filter-background-color: #f4f4fd;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  max-width: 1200px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

/* $$$$$$$$$$$$$$$$$$$$ HEADER $$$$$$$$$$$$$$$$$$$$ */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  padding-top: 24px;
  padding-bottom: 24px;
}

.container-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  display: flex;
}

.header-logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: inherit;
}

.header-span {
  color: var(--primary-brand-color);
}

.header-nav-list,
.header-address-list {
  display: none;
}

.button-mobile-menu-open {
  padding: 0;
  border: none;
  background-color: transparent;
  margin-left: auto;
}

.mobile-menu-burger {
  stroke: #2e2f42;
  display: block;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  position: fixed;
  padding: 80px 35px 40px 40px;
}

.mobile-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  padding: 0;
}

.button-mobile-menu-close {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}

.mobile-menu-nav {
  margin-bottom: 24px;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-item {
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
}

.current {
  color: var(--active-filter-background-color);
}

.mobile-menu-address {
  margin-bottom: 48px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-address-item {
}

.mobile-menu-address-link-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

.mobile-menu-address-link-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

.mobile-menu-social-list {
  display: flex;
  gap: 28px;
}

.mobile-menu-social-item {
  width: 40px;
  height: 40px;
}

.mobile-menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.mobile-menu-social-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 428px) {
  .mobile-menu-address-link-tel {
    font-size: 36px;
  }

  .mobile-menu-social-list {
    gap: 56px;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-bottom: 12px;
  }

  .header-logo-link {
    margin-right: 123px;
  }

  .header-nav {
  }

  .header-nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
  }

  .header-nav-item {
  }

  .header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: inherit;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-nav-link:is(:hover, :focus) {
    color: var(--active-filter-background-color);
  }

  .current {
    color: var(--active-filter-background-color);
    position: relative;
  }

  .current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    position: absolute;
    top: 40px;
    pointer-events: none;
  }

  .header-address {
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
  }

  .header-address-item:not(:last-child) {
    margin-bottom: 6px;
  }

  .header-address-link {
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--secondary-color);
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-link:is(:hover, :focus) {
    color: var(--active-filter-background-color);
  }

  .mobile-menu {
    display: none;
  }

  .button-mobile-menu-open {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo-link {
    margin-right: 76px;
  }

  .current::after {
    top: 30px;
  }

  .header-address-list {
    flex-direction: row;
    gap: 40px;
  }

  .header-address-item:not(:last-child) {
    margin-bottom: 0;
  }

  .header-address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* $$$$$$$$$$$$$$$$$$$$ /HEADER $$$$$$$$$$$$$$$$$$$$ */

/* $$$$$$$$$$$$$$$$$$$$ MAIN $$$$$$$$$$$$$$$$$$$$ */

/* ********** HERO ********** */

.hero {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7) 0%,
      rgba(46, 47, 66, 0.7) 50%
    ),
    url(../images/studio-Image/mobile-background-hero.jpg);
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 428px;
  height: 432px;
  margin: 0 auto;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 50%
      ),
      url(../images/studio-Image/mobile-background-hero@2x.jpg);
  }
}

.container-hero {
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
  margin: 0 auto;
  margin-bottom: 72px;
  max-width: 320px;
}

.hero-btn {
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  font-family: inherit;
  padding: 16px 32px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:is(:hover, :focus) {
  background-color: var(--active-filter-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 479px) {
  .hero-title {
    text-transform: capitalize;
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 50%
      ),
      url(../images/studio-Image/tablet-background-hero.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 768px;
    height: 436px;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 50%
        ),
        url(../images/studio-Image/tablet-background-hero@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--hero-text-color);
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 496px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-color: rgba(46, 47, 66, 0.7);
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7) 0%,
        rgba(46, 47, 66, 0.7) 50%
      ),
      url(../images/studio-Image/desktop-background-hero.jpg);
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1440px;
    height: 600px;
    margin: 0 auto;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7) 0%,
          rgba(46, 47, 66, 0.7) 50%
        ),
        url(../images/studio-Image/desktop-background-hero@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }
}

/* ********** /HERO ********** */

/* ********** SKILLS ********** */

.skills {
  padding-top: 96px;
  padding-bottom: 96px;
}

.skills-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  margin: 0 auto;
  width: 396px;
}

.skills-item {
  max-width: 396px;
}

.skills-item-div {
  display: none;
}

.skills-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .skills-item-title {
    text-align: center;
  }
}

.skills-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .skills-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    width: 736px;
  }

  .skills-item {
    width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .skills-list {
    flex-wrap: nowrap;
    width: 100%;
  }

  .skills-item {
    width: 264px;
  }

  .skills-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }

  .skills-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .skills-item-div {
    background-color: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ********** /SKILLS ********** */

/* ********** WORK ********** */
.work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .work-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: inherit;
    margin-bottom: 72px;
  }

  .work-list {
    display: flex;
    gap: 24px;
  }

  .work-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ********** /WORK ********** */

/* ********** TEAM ********** */

.team {
  background-color: var(--our-team-background-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
  align-items: center;
  margin: 0 auto;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}

.team-item-wrap {
  padding: 32px 14px;
  text-align: center;
}

.team-img {
  width: 100%;
}

.team-item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: inherit;
  margin-bottom: 8px;
}

.team-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:is(:hover, :focus) {
  background-color: #404bbf;
}

.social-svg {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    width: 552px;
  }

  .team-item-wrap {
    padding: 32px 16px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    width: 100%;
  }
}

/* ********** /TEAM ********** */

/* ********** CUSTOMERS ********** */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-color);
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  row-gap: 72px;
  flex-wrap: wrap;
  width: 190px;
  margin: 0 auto;
}

.customers-item {
}

.customers-link {
  width: 190px;
  height: 88px;
  color: #8e8f99;
  border: 1px solid currentColor;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:is(:hover, :focus) {
  color: #404bbf;
}

.customers-svg {
  fill: currentColor;
}

@media screen and (min-width: 428px) {
  .customers-list {
    width: 396px;
    column-gap: 16px;
  }
}

@media screen and (min-width: 768px) {
  .customers-list {
    width: 552px;
    column-gap: 24px;
  }

  .customers-link {
    width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    width: 100%;
    justify-content: center;
  }
}

/* ********** /CUSTOMERS ********** */

/* $$$$$$$$$$$$$$$$$$$$ /MAIN $$$$$$$$$$$$$$$$$$$$ */

/* $$$$$$$$$$$$$$$$$$$$ FOOTER $$$$$$$$$$$$$$$$$$$$ */

.footer {
  background-color: var(--hero-and-footer-background-color);
  padding-top: 96px;
  padding-bottom: 96px;
}

.footer-left {
  width: 268px;
  margin: 0 auto;
  display: flex;
  gap: 16px;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-span {
  color: var(--primary-brand-color);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 72px;
}

.footer-right-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.footer-list {
  display: flex;
  gap: 16px;
}

.footer-item {
  width: 40px;
  height: 40px;
}

.footer-list-link {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.footer-svg {
  fill: #f4f4fd;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--hero-text-color);
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.subscribe-input {
  width: 396px;
  height: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  padding: 8px 16px;
}

.subscribe-button {
  background-color: var(--primary-brand-color);
  border: none;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:is(:hover, :focus) {
  background-color: var(--active-filter-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--hero-text-color);
  margin-right: 16px;
}

.subscribe-svg {
  fill: #ffffff;
  background-size: cover;
}

@media screen and (min-width: 768px) {
  .container-footer {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }

  .footer-left {
    align-items: flex-start;
    width: 264px;
    margin: 0;
  }

  .footer-right {
    align-items: flex-start;
    margin: 0;
  }

  .subscribe {
    align-items: flex-start;
  }

  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-input {
    width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container-footer {
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0;
  }

  .footer-left {
    margin-right: 120px;
  }

  .footer-right {
    margin-right: 80px;
  }
}

/* $$$$$$$$$$$$$$$$$$$$ /FOOTER $$$$$$$$$$$$$$$$$$$$ */

/* $$$$$$$$$$$$$$$$$$$$ BACKDROP $$$$$$$$$$$$$$$$$$$$ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  padding: 0;
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-button:is(:hover, :focus) {
  background-color: #404bbf;
  fill: #ffffff;
}

.modal-close-icon {
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 16px;
}

.modal-form {
}

.label-wrap {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.input-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.input-wrap {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border-color: var(--primary-brand-color);
}

.form-input:focus + .input-icon {
  fill: var(--primary-brand-color);
}

.textarea-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.textarea-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-message {
  width: 100%;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  resize: none;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-message:focus {
  border-color: var(--primary-brand-color);
}

.check-wrap {
  margin-bottom: 24px;
}

.label-check {
  display: flex;
  align-items: center;
}

.label-check::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agree-check:checked + .label-check::before {
  background-color: #404bbf;
  background-image: url(../images/studio-Image/vector.svg);
  background-repeat: no-repeat;
  border-color: transparent;
  background-position: center;
}

.agree-check:focus + .label-check::before {
  outline: 2px solid rgba(0, 0, 255, 0.5);
}

.policy-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}

.policy-link {
  color: #4d5ae5;
}

.modal-button-submit {
  background-color: #4d5ae5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: none;
  padding: 16px 32px;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-submit:is(:hover, :focus) {
  background-color: #404bbf;
}

/* $$$$$$$$$$$$$$$$$$$$ /BACKDROP $$$$$$$$$$$$$$$$$$$$ */

/* @@@@@@@@@@@@@@@@@@@@ /STUDIO @@@@@@@@@@@@@@@@@@@@ */

/* @@@@@@@@@@@@@@@@@@@@ PORTFOLIO @@@@@@@@@@@@@@@@@@@@ */

/* $$$$$$$$$$$$$$$$$$$$ MAIN $$$$$$$$$$$$$$$$$$$$ */

.portfolio-main {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-main-list-filter {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio-main-filter-item {
}

.portfolio-main-filter-btn {
  background-color: var(--filter-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
  font-family: inherit;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-main-filter-btn:is(:hover, :focus) {
  background-color: var(--active-filter-background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.portfolio-list-card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-card {
  max-width: 360px;
}

.portfolio-card-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card-link:is(:hover, :focus) {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-cover {
  position: relative;
  overflow: hidden;
}

.portfolio-card-img {
}

.portfolio-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--our-team-background-color);
  background-color: var(--primary-brand-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}

.portfolio-card-link:is(:hover, :focus) .portfolio-cover-text {
  transform: translateY(0);
}

.portfolio-card-wrap {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color);
  margin-bottom: 8px;
}

.portfolio-card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}

/* $$$$$$$$$$$$$$$$$$$$ /MAIN $$$$$$$$$$$$$$$$$$$$ */

/* @@@@@@@@@@@@@@@@@@@@ /PORTFOLIO @@@@@@@@@@@@@@@@@@@@ */
